.jumbotron {
    background-color: lightcyan;
    color: black;
    margin-top: 50px;;
}

.footer{
    padding: 10px 10px 0px 10px;
    background-color:blanchedalmond;
    margin-bottom: 0px;
    margin-top: 3%;
    color: black;
}

.card-hotel
{
    flex: 1 200px;
    margin-top: 1%;

}
.card-hotel > button
{
    width: 100%;
}
.footer-adress-icon
{
    padding-right: 10px;
}